.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  min-height: 100vh; /* give it full height */
  min-width: 100vw; /* give it full width */
  position: relative; /* ensures it's a box */
  background: white; /* makes it visible */
}
